/*--------- Fonts ---------*/

$primary-font: Helvetica, Arial, sans-serif;
$title-size: 36px;
$subtitle-size: 26px;
$body-text-size: 18px;

/*--------- Colours ---------*/
$primary-colour: #FF5C3E;
$secondary-colour: #FF9885;
$contrast-colour: #021D32;
$black: #000;
$white: #FFF;
$grey: #D6D6D6;
