/*--------- Fonts ---------*/

$primary-font: Helvetica, Arial, sans-serif;
$title-size: 36px;
$subtitle-size: 26px;
$body-text-size: 18px;

/*--------- Colours ---------*/
$primary-colour: #FF7566;
$secondary-colour: #E32700;
$contrast-colour: #FFDF00;
$black: #000;
$white: #FFF;
$grey: #D6D6D6;
