// Place all the styles related to the postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

section.menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 25vh;
}

section.menu.search-postings {
  background-color: #FFD66E;
}

section.menu.add-postings {
  background-color: #FF8A6E;
}