// Place all the styles related to the postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_universal';
@import '_variables';


section.menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 25vh;
}

section.menu.search-postings {
  background-color: $white;
  border: 4px solid $secondary-colour;
  display: flex;
  flex-direction: column;

  div.title {
    background-color: $primary-colour;
    width: 60vw;
    align-self: center;
    justify-content: center;
    text-align: center;
    transform: translateY(-28px);

    h2 {
      color: $white;
      margin: 0;
      font-size: 34px;
      line-height: 1.5
    }
  }

  div.filters {
    padding: 0 20px;

    div.filter {
      padding: 8px 0;
    }

    input[type='text'] {
      margin-left: 12px;
    }
  }
}

section.menu.add-postings {
  background-color: $secondary-colour;

}

div.search {
  display: flex;
  justify-content: center;
  
  section.show-posting {
    display: flex;
    align-self: center;
    position: absolute;
    background-color: $white;
    border: 6px solid $primary-colour;
    width: 90vw;
    height: 90vh;
    z-index: 2;

    div.posting-container {
      padding: 30px;
      width: 100%;

      a.close-posting {
        float: right;
      }
    }
  }

  div.btn-add-posting {
    background-color: $secondary-colour;
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1;
    padding: 0 16px;

    a, a:hover , a:focus, a:visited, a:active {
      color: $white;
      line-height: 2;

      i {
        color: $white;
      }
    }
  }
}

div.add-posting {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;

  div.form-field {
    margin: 20px 20px 20px 0;

    textarea, input {
      width: 100%;
    }

    textarea {
      height: 10vh;
    }
  }

  div.submit-btn {
    justify-content: flex-end;
    display: flex;
  }

  div.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    div.form-field {
      flex-grow: 1;
      flex-basis: 40%;
    }
  }
}

section.show-posting {
  div.job-detail span.detail-title {
    font-weight: bold;
    color: $primary-colour;
    text-transform: capitalize;
  }
}

